[Desktop Entry]
Version=1.1
Type=Application
Name=GlobalProtect
Comment=GlobalProtect
Icon=/opt/gp-saml-gui/scripts/menu/gp.png
Exec=mvpn
Actions=
Categories=System-Tools;
OnlyShowIn=Old;
